body {
  background-color: #262c3f;
  color: white;
}
.img-size {
  width: 10vw;
}
.container {
  display: flex;
  justify-content: center;
}
caption {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1em;
}
table {
  border:white 1px solid;
}
td {
  border: white 1px solid;
}

.table {
  display: table;
}
.delete {
  display: flex;
  align-items: center;
}